body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}

.bubble {
  border-radius: 300px;
  position: absolute;
  background: springgreen;
  opacity: 0;
  animation: anim 10s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(800deg);
  }
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: grey;
}